<ng-template #treeNode let-nodes="nodes" let-level="level" let-path="path">
  @for (node of nodes | keyvalue; track node.key) {
    <jhi-expansion #expansion jhiTreeNode [level]="level" (click)="$event.stopPropagation()">
      <!--        [ngClass]="isNodeActive(getPathWithNode(path, node.key)) ? 'bg-blue-700' : 'bg-blue-800'"-->
      <div
        class="flex items-center rounded"
        (click)="setActivePath(path, node.key); $event.stopPropagation()"
        ngProjectAs="header"
      >
          <span
            [class.invisible]="typeOf(node.value) !== 'object'"
            class="h-full display ml-2 cursor-pointer material-icons"
            style="transition: all ease-in-out 0.2s"
            [style]="{ transform: expansion.opened() ? 'rotate(90deg)' : '' }"
            (click)="expansion.toggle()"
          >chevron_right
          </span>
        <span class="px-2">
          {{ node.key }}:
        </span>
        @if (node.value !== null && typeOf(node.value) !== 'object') {
          <span class="text-xs text-gray-400">{{node.value}}</span>
        }
      </div>
      <div ngProjectAs="content"
           class="flex flex-col pl-3 gap-2 border-l mt-2 mb-2 treeNode">
        <ng-container
          *ngTemplateOutlet="treeNode; context: { nodes: node.value, level: level + 1, path: getPathWithNode(path, node.key) }"
        ></ng-container>
      </div>
    </jhi-expansion>
  }
</ng-template>

<div class="flex h-full p-0 flex-col gap-2 overflow-y-scroll">
  <div scroll-fade-top style="--scroll-fade-color: rgb(31 41 55)"></div>
  <ng-container *ngTemplateOutlet="treeNode; context: { nodes: tree(), level: 0, path: '' }"></ng-container>
  <div scroll-fade-bottom style="--scroll-fade-color: rgb(31 41 55)"></div>
</div>


